/*Global*/

@font-face * {
    box-sizing: border-box;
}



  
	
    
    
   



body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}


/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  left: 0; 
  bottom: 0;
  min-width:100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/* These just style the content */
article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  margin: 10px;
}

h1 {
  position: absolute;
  top: 70%;
  width: 100%;
  font-size: 40px;
  letter-spacing: 10px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}


p {
  position: absolute;
  top: 100%;
  width: 100%;
  font-size: 20px;
  letter-spacing: 20px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
}

a {color:white;}


h1 span {
  font-family: sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

h1 span a {
  color: #fff;
}

